{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
<h1>SignUp</h1>
</div>


<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <label for="">{{form.username.label}}</label>
    {{form.username}}
    <label for="">{{form.password1.label}}</label>
    {{form.password1}}
    <label for="">{{form.password2.label}}</label>
    {{form.password2}}
    <br>
    <input style="margin-top: 10px;" class="button" type="submit" value="SignUp">
</form>

<p>Already have an account? <a style="text-decoration: none; color: #008374;" href="{% url 'login' %}">SignIn</a></p>
</div>
{% endblock content %}
